body {
    background-color: darkslategray;
}
div#wrapper {
    border-radius: 25px;
    background: #73aD21;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
div#header-links {
    float: right;
    font-size: medium;
}
div.images{
    text-align: center;
    color: #73aD21;
    font-weight: bold;
    border-radius: 25px;
    background: #2F4F4F;
    padding: 20px;
}
a {
    color: white;
    cursor: pointer;
}
a:hover{
    color: black;
}
h1 {
    text-align: center;
    font-size: x-large;
}
h2 {
    font-size: large;
}
table.images {
    margin: auto;
    width: 100%;
    border-spacing: 10px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}
td.images {
    width: 33%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
img.images{
    max-height: 250px;
    max-width: 250px;
}
div.image {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
span.image-text {
    display: block;
    padding-bottom: 20px;
}
span.rating {
    position: relative;
    left: -40px;
    top: 2px;
    height: 16px;
}
img.rating {
    position: absolute;
    left: 0;
    height: 16px;
}
img.vote {
    position: absolute;
    left: 0px;
    top: 0px;
}
img.vote:hover {
    content: url("../resources/vote.png");
}
