body {
    background-color: darkslategray;
}
div#wrapper {
    border-radius: 25px;
    background: #73aD21;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
div#header-links {
    float: right;
    font-size: medium;
}
div#popular-images{
    text-align: center;
    color: #73aD21;
    font-weight: bold;
}
div#recent-images{
    text-align: center;
    color: #73aD21;
    font-weight: bold;
}
a {
    color: white;
    cursor: crosshair;
}
a:hover{
    color: black;
}
h1 {
    text-align: center;
    font-size: x-large;
}
h2 {
    font-size: large;
}
div.wrapper-box{
    border-radius: 25px;
    background: #2F4F4F;
    padding: 20px;
}
img {
    height: 200px;
}
div.image {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.image-text {
    display: block;
}
span.rating {
    position: relative;
    left: -40px;
    height: 16px;
}
img.rating {
    position: absolute;
    left: 0;
    height: 16px;
}
a.vote1 {
    text-decoration: none;
    position: absolute;
    left: -1px;
    height: 16px;
}
a.vote2 {
    text-decoration: none;
    position: absolute;
    left: 15px;
    height: 16px;
}
a.vote3 {
    text-decoration: none;
    position: absolute;
    left: 30px;
    height: 16px;
}
a.vote4 {
    text-decoration: none;
    position: absolute;
    left: 46px;
    height: 16px;
}
a.vote5 {
    text-decoration: none;
    position: absolute;
    left: 62px;
    height: 16px;
}
img.vote {
    width: 16px;
    height: 16px;
}
img.vote:hover {
    content: url("../resources/redstar.png");
}
