<!doctype html>
<html>
    <head>
        <title>Logout page</title>
        <meta charset='utf-8' />
        <meta http-equiv="refresh" 
              content="5;url=/dark.horse/index.php" />
        <link rel='stylesheet'
              href='../styles/style.css'
              type='text/css'>
    </head>
    <body>
        <div id='wrapper'>
            <img src='../resources/logo.png'
                 alt='Dark Horse, Inc.'>
            <h1>You have been logged out.</h1>
            <div class='wrapper-box'>
                <h2>You will be forwarded to the front page.</h2>
            </div>
        </div>
    </body>
</html>

